
body,
header{
    background-color: rgb(132, 0, 255);
}

h1{
    color: rgb(255, 251, 0);  
}


.nav-link{
    color: rgb(255, 251, 0);
    font-weight: bold;
}



@media screen and (max-width: 640px){

    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}